<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    @Html.Partial("_PartialCSS")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        .navbar {
            border-bottom-color: #2b358a;
            border-width: 0 1px 4px 1px;
        }

        .logo {
            right: 1px;
        }

        li a:hover, .navbar-brand:hover {
            color: #2b358a !important;
            font-weight: bold;
        }

        .navDiv {
            height: 90px;
        }

    </style>
</head>
<body>
    <div class="container body-content" ng-app="App">
        @Html.Partial("_PartialScript")
        @RenderBody()
        <hr />
        <footer>
            <p> &nbsp; &nbsp; &nbsp; &nbsp; Private and Confidential. Anderson Group BPO Inc. &copy; 2017</p>
        </footer>
    </div>
</body>
</html>