
@{
    ViewBag.Title = "Details";
}

<h3>Intern's Details</h3>

<div style="width: 100%">
    <div style="width: 25%; float: left; display: inline-block;">

        <form method="post" action="~/Intern/Details">
            <br />
            <label for="Date">Date:</label>
            <input type="text" class="form-control" name="Intern.Date" value="@Model.Date" disabled />
            <label for="Name">Name:</label>
            <input type="text" class="form-control" name="Intern.Name" value="@Model.Name" disabled />
            <label for="School">School:</label>
            <input type="text" class="form-control" name="Intern.School" value="@Model.School" disabled />
            <label for="Department">Department:</label>
            <input type="text" class="form-control" name="Intern.Department" value="@Model.Department" disabled />
            <label for="Supervisor">Supervisor:</label>
            <input type="text" class="form-control" name="Intern.Supervisor" value="@Model.Supervisor" disabled />
            <label for="IdNumber">ID Number:</label>
            <input type="text" class="form-control" name="Intern.IdNumber" value="@Model.IdNumber" disabled />
            <label for="TimeIn">Time In:</label>
            <input type="text" class="form-control" name="Intern.TimeIn" value="@Model.TimeIn" disabled />
            <label for="TimeOut">Time Out:</label>
            <input type="text" class="form-control" name="Intern.TimeOut" value="@Model.TimeOut" disabled />
            <input type="hidden" name="Intern.InternID" value="@Model.InternID" />
            <br />
            <a href="/Intern/Edit/@Model.InternID" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>
            @*<a href="/Intern/Index" ng-click="model.Delete()" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>*@
            <a href="/Intern/Index" class="btn btn-warning"><i class="glyphicon glyphicon-close "></i>Close</a>
        </form>
    </div>

    @*<div style="width: 75%; display: inline-block;">
        <br /><br /><br />
        <center>
            <div ng-app="myapp" ng-controller="mainController">
                <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>
                <canvas id="snapshot" width="325" height="325" style="border:3px solid #000000;"></canvas>
            </div>
        </center>
    </div>*@
</div>