
@{
    ViewBag.Title = "Edit";
}

<h3>Edit</h3>
<div ng-controller="InternController as model" ng-init="model.List()">

    <div style="width: 100%">
        <div style="width: 25%; float: left; display: inline-block;">

            <form method="post" action="~/Intern/Edit">
                <br />
                <label for="Date">Date:</label>
                <input type="text" class="form-control" name="Intern.Date" value="@Model.Date" disabled/>
                <label for="Name">Name:</label>
                <input type="text" class="form-control" name="Intern.Name" value="@Model.Name" disabled/>
                <label for="School">School:</label>
                <input type="text" class="form-control" name="Intern.School" value="@Model.School" disabled/>
                <label for="Department">Department:</label>
                <input type="text" class="form-control" name="Intern.Department" value="@Model.Department" disabled/>
                <label for="Supervisor">Supervisor:</label>
                <input type="text" class="form-control" name="Intern.Supervisor" value="@Model.Supervisor" disabled/>
                <label for="IdNumber">ID Number:</label>
                <input type="text" class="form-control" name="Intern.IdNumber" value="@Model.IdNumber" disabled/>
                <label for="TimeIn">Time In:</label>
                <input type="text" class="form-control" name="Intern.TimeIn" value="@Model.TimeIn" disabled/>
                <label for="TimeOut">Time Out:</label>
                <input type="text" class="form-control" name="Intern.TimeOut" value="@Model.TimeOut" />
                
                @*DO NOT DELETE THIS (this stores the data in database after editing. so the data would not be null)*@
                <input type="hidden" name="Intern.InternID" value="@Model.InternID" />
                <input type="hidden" name="Intern.Date" value="@Model.Date" />
                <input type="hidden" name="Intern.Name" value="@Model.Name" />
                <input type="hidden" name="Intern.School" value="@Model.School" />
                <input type="hidden" name="Intern.Department" value="@Model.Department" />
                <input type="hidden" name="Intern.Supervisor" value="@Model.Supervisor" />
                <input type="hidden" name="Intern.IdNumber" value="@Model.IdNumber" />
                <input type="hidden" name="Intern.TimeIn" value="@Model.TimeIn" />
                <br />
                <input type="Submit" value="Save" class="btn btn-primary" style="" /> &nbsp;&nbsp;
                <a href="/Intern/Index" class="btn btn-danger"><i class="glyphicon glyphicon-close "></i>Close</a>
            </form>
        </div>
    </div>

</div>




