
@{
    ViewBag.Title = "Index";
}

<style>
    #myInput {
        float: right;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
        box-shadow: none;
        border-color: #cccccc;
    }

    #searchLogo {
        border-left: none;
        pointer-events: none;
    }

    #historyButton {
        float: left;
    }
</style>

<center><h3>&nbsp;Intern Information</h3></center>
<div ng-controller="InternController as model" ng-init="model.List()">
    <br />
    <a id="addButton" href="/Intern/Add" class="btn btn-primary" role="button" style="margin-left: 10px;float: right"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>
    <a id="historyButton" href="/InternHistory/Index" role="button" class="btn btn-danger"><i class="glyphicon glyphicon-list"></i> History</a>
    <p class="navbar-text">Filter:</p>
    <div class="navbar-collapse collapse" id="navbar-filter">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-time-asc position-left"></i> Show All<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDate })">Date</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortName })">Name</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortSchool })">School</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDepartment })">Department</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortSupervisor })">Supervisor</a></li>
                </ul>
            </li>
        </ul>
        <script src="~/Scripts/search.js"></script>
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here..." />
                <div class="input-group-btn">
                    <button id="searchLogo" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-sm table-bordered " id="tableid">
        <thead>
            <tr class="active">
                <th>Date</th>
                <th>Name</th>
                <th>School</th>
                <th>Department</th>
                <th>Supervisor</th>
                <th>ID Number</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th style="width:100px"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert" ng-repeat="Intern in model.Interns | orderBy: '-Name'" ng-click="model.Details(Intern)" style="cursor:pointer" filter="">
                <td><span ng-bind="Intern.Date"></span></td>
                <td><span ng-bind="Intern.Name"></span></td>
                <td><span ng-bind="Intern.School"></span></td>
                <td><span ng-bind="Intern.Department"></span></td>
                <td><span ng-bind="Intern.Supervisor"></span></td>
                <td><span ng-bind="Intern.IdNumber"></span></td>
                <td><span ng-bind="Intern.TimeIn"></span></td>
                <td><span ng-bind="Intern.TimeOut"></span></td>
                <td>
                    <a href="/Intern/Index" ng-click="model.Delete(Intern)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


