@using ElectronicLogbookModel
@model EmployeeLog

@{
    ViewBag.Title = "Create";
}

<div class="col-sm-12">
    <form action="~/EmployeeLog/Create" method="post">
        @{
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
                        <img id="logo-full" src="~/Content/Images/logo2.jpg" class="about-title">
                        <div class="form-group">
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmployeeNumber, new { @class = "col-md-4 control-label align-right" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control" })<br>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Pin, new { @class = "col-md-4 control-label align-right" })
                            <div class="col-md-5">
                                @Html.PasswordFor(m => m.Pin, new { @class = "form-control", @maxlength = "4" })
                            </div>
                        </div>
                        <div class="col-md-11" id="time">
                            &nbsp &nbsp &nbsp   <button name="LogTypeId" type="submit" value="1" class="btn btn-success">Time In</button>
                            <button name="LogTypeId" type="submit" value="2" class="btn btn-danger">Time Out</button>
                        </div>
                            <div id="logIn">
                                @if (Model.SuccesLogin && Model.LogTypeId == 1)
                                {
                                    <h2 id="logIn" style="color:green;">Successfully logged in at <br /></h2><h2> @System.DateTime.Now.ToString("h:mm:ss tt") </h2>
                                }
                                else if (Model.SuccesLogin && Model.LogTypeId == 2)
                                {
                                    <h2 id="logOut" style="color:green;">Successfully logged out at</h2><h2 style="color:black;">@System.DateTime.Now.ToString("h:mm:ss tt")</h2>
                                }
                                else if (!Model.SuccesLogin && Model.LogTypeId != 0)
                                {
                                    <h2 id="logFail" style="color: firebrick;">Employee Number or Pin does not exist</h2>
                                    <h2 id="logFail" style="color: firebrick;">Please try again :(</h2>
                                }
                            </div>
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
                        <div class="form-group" id="ctime">
                            <br />
                            <span id="CurrentTime"></span>
                        </div>
                        <canvas id ="canvas" style="border: 5px solid; object-fit: fill;" height="225" width="275"></canvas>
                        <div class="form-group">
                            <div class="col-md-12">
                                <span id="CurrentDate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
</div>
<body>
    <script>
        var displaytime = setInterval(function () { Time() }, 0);
        var displaydate = setInterval(function () { Date() }, 0);

        function Time() {
            var date = new Date();
            var currentdate = date.toDateString();
            var time = date.toLocaleTimeString();
            document.getElementById("CurrentTime").innerHTML = time;
            document.getElementById("CurrentDate").innerHTML = currentdate;
        }
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var x = 0;
        var y = 0;
        var width = 275;
        var height = 225;
        var imageObj = new Image();

        imageObj.onload = function ()
        {
           context.drawImage(imageObj, x, y, width, height);
        };
        imageObj.src = "data:image/png;base64, @Model.EmployeeImageBase64";
    </script>
</body>