@using ElectronicLogbookModel
@model EmployeeLog

@{
    ViewBag.Title = "Create";
}

<div class="col-sm-12">
    <form action="~/EmployeeLog/Create" method="post">
        @{
            <div class="form-group">
                <align-left><img id="logo-full" src="~/Content/Images/logo2.jpg" class="about-title"></align-left>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
                        <div class="form-group">
                            <br /><br /><br /><br />
                            @Html.LabelFor(m => m.EmployeeNumber, new { @class = "col-md-4 control-label align-right" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmployeeNumber, "", new { @class = "text-danger" })<br>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Pin, new { @class = "col-md-4 control-label align-right" })
                            <div class="col-md-5">
                                @Html.PasswordFor(m => m.Pin, new { @class = "form-control", @maxlength = "4" })
                                @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-11" id="time">
                            &nbsp &nbsp &nbsp   <button name="LogTypeId" type="submit" value="1" class="btn btn-success" onclick="myConfirm()">Time In</button>
                            <button name="LogTypeId" type="submit" value="2" class="btn btn-danger">Time Out</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
                        <div class="form-group" id="ctime">
                            <br />
                            <span id="CurrentTime"></span>
                        </div>
                        @*<canvas id ="canvas" style="border: 5px solid; object-fit: fill;" height="225" width="275"></canvas>*@
                        <img style="border:2px solid;" height="275" width="375" src="data:image/png;base64, @Model.EmployeeImageBase64" alt="" />
                        <div class="form-group">
                            <div class="col-md-12">
                                <span id="CurrentDate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
</div>
<body>
    <script>
        var displaytime = setInterval(function () { Time() }, 0);
        var displaydate = setInterval(function () { Date() }, 0);

        function Time() {
            var date = new Date();
            var currentdate = date.toDateString();
            var time = date.toLocaleTimeString();
            document.getElementById("CurrentTime").innerHTML = time;
            document.getElementById("CurrentDate").innerHTML = currentdate;
        }

        function myConfirm()
        {
            if (@Model.SuccesLogin == true)
            {
                alert("Successfully logged in");
            }
            else
            {
                alert("Failed");
            }

        }
    </script>

</body>