<input type="hidden" name="VisitorId" value="@Model.VisitorId" />
@{
    Html.RenderPartial("_AuditColumns");
}


<div class="form-group">
    <label for="TimeIn">TimeIn</label>
    <input type="datetime-local" class="form-control" id="TimeIn" name="TimeIn" placeholder="TimeIn" value="@Model.TimeIn">
</div>
<div class="form-group">
    <label for="TimeOut">TimeOut</label>
    <input type="datetime-local" class="form-control" id="TimeOut" name="TimeOut" placeholder="TimeOut" value="@Model.TimeOut">
</div>


<div class="form-group">
    <label for="PersonToVisit">PersonToVisit</label>
    <input type="number" class="form-control" id="PersonToVisit" name="PersonToVisit" placeholder="PersonToVisit" value="@Model.PersonToVisit">
</div>


<div class="form-group">
    <label for="Comment">Comment</label>
    <input type="text" class="form-control" id="Comment" name="Comment" placeholder="Comment" value="@Model.Comment">
</div>
<div class="form-group">
    <label for="CompanyName">CompanyName</label>
    <input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="CompanyName" value="@Model.CompanyName">
</div>
<div class="form-group">
    <label for="KindOfId">KindOfId</label>
    <input type="text" class="form-control" id="KindOfId" name="KindOfId" placeholder="KindOfId" value="@Model.KindOfId">
</div>
<div class="form-group">
    <label for="IdNumber">IdNumber</label>
    <input type="text" class="form-control" id="IdNumber" name="IdNumber" placeholder="IdNumber" value="@Model.IdNumber">
</div>

<div class="form-group">
    <label for="FirstName">FirstName</label>
    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="FirstName" value="@Model.FirstName">
</div>
<div class="form-group">
    <label for="LastName">LastName</label>
    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="LastName" value="@Model.LastName">
</div>
<div class="form-group">
    <label for="MiddleName">MiddleName</label>
    <input type="text" class="form-control" id="MiddleName" name="MiddleName" placeholder="MiddleName" value="@Model.MiddleName">
</div>

<div class="form-group">
    <label for="Purpose">Purpose</label>
    <input type="text" class="form-control" id="Purpose" name="Purpose" placeholder="Purpose" value="@Model.Purpose">
</div>


<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>