
@{
    ViewBag.Title = "Details";
}

<h3>Visitor Details</h3>

<div style="width: 100%">
    <div style="width: 100%; float: left; display: inline-block;">

        <form method="post" action="~/Visitor/Details">
            <br />
            <label for="Date">Date:</label>
            <input type="text" class="form-control" name="Visitor.Date" value="@Model.Date" disabled />
            <label for="Name">Name:</label>
            <input type="text" class="form-control" name="Visitor.Name" value="@Model.Name" disabled />
            <label for="CompanyName">Company Name:</label>
            <input type="text" class="form-control" name="Visitor.CompanyName" value="@Model.CompanyName" disabled />
            <label for="Purpose">Purpose:</label>
            <input type="text" class="form-control" name="Visitor.Purpose" value="@Model.Purpose" disabled />
            <div ng-controller="EmployeeController as employeeModel" ng-init="employeeModel.Initialise(@Model.PersonToVisit)">
                <label for="PersonToVisit">Person to Visit:</label>
                <input type="text" class="form-control" name="Visitor.ToVisit.FullName" value="{{employeeModel.Employee.FullName}}" disabled />
            </div>
            <label for="Designation">Designation:</label>
            <input type="text" class="form-control" name="Visitor.Designation" value="@Model.Designation" disabled />
            <label for="KindOfId">Kind of ID:</label>
            <input type="text" class="form-control" name="Visitor.KindOfId" value="@Model.KindOfId" disabled />
            <label for="IdNumber">ID Number:</label>
            <input type="text" class="form-control" name="Visitor.IdNumber" value="@Model.IdNumber" disabled />
            <label for="TimeIn">Time In:</label>
            <input type="text" class="form-control" name="Visitor.TimeIn" value="@Model.TimeIn" disabled />
            <label for="TimeOut">Time Out:</label>
            <input type="text" class="form-control" name="Visitor.TimeOut" value="@Model.TimeOut" disabled />
            <label for="Comment">Comment:</label>
            <textarea rows="4" cols="50" class="form-control" name="Visitor.Comment" disabled>@Model.Comment</textarea>
            <input type="hidden" name="Visitor.VisitorID" value="@Model.VisitorID" disabled />
            <br />
        </form>
    </div>
    
            
    <div style="display: inline-block; float: left;">
        <a href="/Visitor/Edit/@Model.VisitorID" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>
        <a href="@Url.Action("Preview", new { id = Model.VisitorID})" class="btn btn-info"><i class="glyphicon glyphicon-download"></i> Preview PDF</a>
        <a href="@Url.Action("PrintId", new { id = Model.VisitorID})" class="btn btn-info"><i class="glyphicon glyphicon-download"></i> Print ID</a>
        <a href="/Visitor/Index" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i>Close</a>
    </div>
</div>