
@{
    ViewBag.Title = "Index";
}

<style>
    #myInput {
        float: right;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
        box-shadow: none;
        border-color: #cccccc;
    }

    #searchLogo {
        border-left: none;
        pointer-events: none;
    }

    #historyButton {
        float: left;
      
    }
</style>

<center><h3>&nbsp;Visitor/Applicant Information</h3></center>
<div ng-controller="VisitorController as model" ng-init="model.List()">
    <br />
    <a id="addButton" href="/Visitor/Add" class="btn btn-primary" role="button" @*ng-click="model.Create()"*@ style="margin-left: 10px;float: right"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>
    <a id="historyButton" href="/VisitorHistory/Index" role="button" class="btn btn-danger"><i class="glyphicon glyphicon-list"></i> History</a>
    <p class="navbar-text">Filter:</p>
    <div class="navbar-collapse collapse" id="navbar-filter">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-time-asc position-left"></i> Show All<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDate })">Date</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortName })">Name</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortCompany })">Company</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortPurpose })">Purpose</a></li>
                    <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortPersonToVisit })">Person to Visit</a></li>
                </ul>
            </li>
        </ul>

            <script src="~/Scripts/search.js"></script>
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here..." />
                    <div class="input-group-btn">
                        <button id="searchLogo" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div> 
    <table class="table table-hover table-sm table-bordered " id="tableid">
        <thead>
            <tr class="active">

                <th>Date</th>
                <th>Name</th>
                <th>Company Name</th>
                <th>Purpose of Visit</th>
                <th>Person To Visit</th>
                <th>Designation</th>
                <th>Type of ID</th>
                <th>ID Number</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th style="width:100px"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert" ng-repeat="Visitor in model.Visitors | orderBy: '-VisitorID'" ng-click="model.Details(Visitor)" style="cursor:pointer" filter="">
                <td><span ng-bind="Visitor.Date"></span></td>
                <td><span ng-bind="Visitor.Name"></span></td>
                <td><span ng-bind="Visitor.CompanyName"></span></td>
                <td><span ng-bind="Visitor.Purpose"></span></td>
                <td><span ng-bind="Visitor.ToVisit.FullName"></span></td>
                <td><span ng-bind="Visitor.Designation"></span></td>
                <td><span ng-bind="Visitor.KindOfId"></span></td>
                <td><span ng-bind="Visitor.IdNumber"></span></td>
                <td><span ng-bind="Visitor.TimeIn"></span></td>
                <td><span ng-bind="Visitor.TimeOut"></span></td>
                <td>
                    <a href="/Visitor/Index" ng-click="model.Delete(Visitor)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash" ></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>



